HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Grafana runtime data
grafana/data/
grafana/data/**

# Prometheus runtime data
prometheus/data/
prometheus/data/**

# Only allow prometheus.yml to remain
!prometheus/config/
!prometheus/config/prometheus.yml

# Optional: exclude Grafana DB if accidentally tracked
grafana/data/grafana.db

# Plugins (usually downloaded at runtime)
grafana/data/plugins/
grafana/data/plugins/**